*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    gap: 15px;
}

.gellery{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 750px) {
    .row{
        flex-direction:column;
    }
    
}