body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.myphone {
    position: relative;
    width: 250px;
    height: 550px;
    background: #121212;
    border-radius: 30px;
}

.screen {
    position: absolute;
    top : 20px;
    bottom : 20px;
    right: 6px;
    left: 6px;
    background: #121212;
    border-radius:20px ;
    overflow: hidden;

}

.screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.025);
    transform: skewX(-20deg);
    z-index: 1;
}

/* .screen img {
    height: 555px;
    width: 240px;
} */

.screen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.5s;
}

.screen:hover img  {
    opacity: 1;
}